@main("Download") {

    <div class="banner-three">
            <div class="container">
                <div class="about-left">
                    <h6>Download</h6>
                </div>

            </div>
    </div>

    <div class="download-info">
        <div class="container">
            <div class="about-left" >
                <h7>Genome data : </h7>
                <ul id="filesUrl">
                </ul>
            </div>
        </div>
    </div>

    @home.footer()

    <script>


            $(function () {

                $.ajax({
                    url:"@routes.DownloadController.getFiles()",
                    type:"post",
                    success:function (download) {
                        var html = "";
                        $.each(download,function (i,v) {
                            html += "<li><a href='/Eggplant/download/download?name=" + v + "' target='_blank'>" + v + "</a></li>"
                        });

                        $("#filesUrl").html(html);
                    }
                })








            })



    </script>



}@import views.html.home.main