<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.versioned("bootstrap/css/bootstrap.css")" >
    <link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.versioned("css/style.css")"/>
    <link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.versioned("zui/zui.min.css")"/>
    <script type="text/javascript" src="@routes.Assets.versioned("bootstrap/js/jquery-3.1.1.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("bootstrap/js/bootstrap.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("zui/myzui.min.js")"></script>
</head>
<body>

    <div class="indexPage">
        <div class="container-fluid">
            <div id="myNiceCarousel" class="carousel slide" data-ride="carousel">
                    <!-- 圆点指示器 -->
                <ol class="carousel-indicators">
                    <li data-target="#myNiceCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myNiceCarousel" data-slide-to="1" class=""></li>
                    <li data-target="#myNiceCarousel" data-slide-to="2" class=""></li>
                    <li data-target="#myNiceCarousel" data-slide-to="3" class=""></li>
                    <li data-target="#myNiceCarousel" data-slide-to="4" class=""></li>
                    <li data-target="#myNiceCarousel" data-slide-to="5" class=""></li>
                </ol>
                    <!-- 轮播项目 -->
                <div class="carousel-inner">
                    <div class="item active">
                        <a href="#">
                            <img alt="First slide" src="/assets/images/茄子艺术照 (44)_small.jpg" style="height:265px;width:100%;">
                        </a>
                        <div class="carousel-caption">
                                </div>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img alt="First slide" src="/assets/images/茄子艺术照 (41)_small.jpg" style="height:265px;width:100%;">
                        </a>
                        <div class="carousel-caption">
                                </div>
                    </div>
                    <div class="item">
                        <a href="https://www.omicshare.com/forum/thread-5919-1-1.html">
                            <img alt="First slide" src="/assets/images/茄子艺术照 (50)_small.jpg" style="height:265px;width:100%;">
                        </a>
                        <div class="carousel-caption">
                                </div>
                    </div>
                    <div class="item">
                        <a href="https://www.omicshare.com/forum/thread-692-1-1.html">
                            <img alt="First slide" src="/assets/images/茄子艺术照 (61)_small.jpg" style="height:265px;width:100%;">
                        </a>
                        <div class="carousel-caption">
                                </div>
                    </div>
                    <div class="item">
                        <a href="https://www.omicshare.com/forum/thread-5733-1-1.html">
                            <img alt="First slide" src="/assets/images/茄子艺术照 (67)_small.jpg" style="height:265px;width:100%;">
                        </a>
                        <div class="carousel-caption">
                                </div>
                    </div>
                    <div class="item">
                        <a href="http://www.omicshare.com/vip.php">
                            <img alt="First slide" src="/assets/images/茄子艺术照 (69)_small.jpg" style="height:265px;width:100%;">
                        </a>
                        <div class="carousel-caption">
                        </div>
                    </div>
                </div>
                    <!-- 项目切换按钮 -->
                <a class="left carousel-control" href="#myNiceCarousel" data-slide="prev">
                    <span class="icon icon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#myNiceCarousel" data-slide="next">
                    <span class="icon icon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>




</body>
</html>