@home.main("Browse"){

    @home.header2("browse")

    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("bootstrap-table-master/dist/bootstrap-table.min.css")">

    <script src="@routes.Assets.versioned("bootstrap-table-master/dist/bootstrap-table.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("bootstrap-table-master/dist/locale/bootstrap-table-en-US.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/fileinput.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("bootstrap-fileinput-master/js/locales/zh.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")"> </script>


    <div style="background: #b899bd">
        <div class="banner-three">
            <div class="container">
                <div class="about-left">
                    <h6>Browse</h6>
                </div>
            </div>
        </div>

        <div class="browse-info">
            <div class="container" >
                <div style="padding-left: 10px;padding-right: 10px;padding-bottom: 10px;padding-top: 10px;background: #FFFFFF" >
                    <label style="font-size: 15px">Select the columns to display:</label>

                        <!--多选框 id为checkbox 后面由SetColumns动态生成选择框-->
                    <div id="checkbox" class="checkbox">
                    </div>

                        <!--data-toolbar：设置装按钮的容器为id为toolbar的。-->
                    <div id="toolbar">
                            &nbsp;Keyword：
                    </div>

                        <!--bootstrap table属性：data-pagination：设置是否显示页码数 data-search：设置search框 -->
                        <!--data-toolbar：设置装按钮的容器为id为toolbar的。-->
                        <!--data-page-list：用于设置选择每页显示的条数 前提：pagination设为true，启用了分页功能。
      --默认为[10, 25, 50, 100]，即可以选择”每页显示10/25/50/100条记录”，
      --data-search-align：搜索框的位置，默认right（最右），可选left-->
                    <table class="display table table-bordered" id="table" data-pagination="true" data-search="true"
                    data-toolbar="#toolbar" data-page-list="[10, 25, 50, 100, all]" data-search-align="left" data-multiple-search="true">
                        <thead>
                            <tr>
                                <th data-field='geneid' data-sortable='true' id="marker">GeneID</th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>

        </div>
    </div>





    @home.footer()



    <script>
            function setColumns(value) {
                var element = $("input:checkbox[value=" + value + "]")
                if (element.is(":checked")) {
                    $('#table').bootstrapTable('showColumn', value);
                } else {
                    $('#table').bootstrapTable('hideColumn', value);
                }
            }

            $(document).ready(function () {

                var array = [ "Chromesome", "Start", "End", "Strand", "KEGG", "Pfam", "GO", "NR", "Swissport"];
                var values = [ "chr", "start", "end", "strand", "kegg", "pfam", "go", "nr", "swissprot"];

                var thHtml="";
                $.each(array, function (i, v) {
                    thHtml += "<th data-field='" + values[i] + "' data-sortable='true'>" + v + "</th>"
                });
                $("#marker").after(thHtml);


                var html = "";
                $.each(array, function (n, value) {
                            html += "<label style='margin-right: 15px'>" +
                                    "<input type='checkbox' checked='checked' value='" + values[n] + "' onclick=\"setColumns('" + values[n] + "')\">" + value +
                                    "</label>"
                        }
                );
                $("#checkbox").append(html);

                $('#table').bootstrapTable({
                    method: 'post',
                    url: "/Eggplant/getAllEggplant",
                    sidePagination: "server",
                    pageNumber: 1,
                    pagination: true,
                    pageList: [10, 25, 50, 100],
                    contentType: "application/x-www-form-urlencoded"
                });

                var hiddenArray = ["kegg", "pfam", "go", "nr", "swissport"];

                $.each(hiddenArray, function (n, value) {
                            $('#table').bootstrapTable('hideColumn', value);
                            $("input:checkbox[value=" + value + "]").attr("checked", false)
                        }
                );


            })

    </script>








}