@main("AboutUs"){

    <!--top nav end here-->
<!--banner start here-->
	<div class="banner-three">
			<div class="container">
				<div class="about-left">
					<h6>About Us</h6>
				</div>

			</div>
	</div>
<!--banner end here-->
<!--start-about-->
<div class="about">
	<div class="container">
		<div class="about-main">
			<div class="about-left">
				<h3>about this Project</h3>
				<p>The eggplant (Solanum melongena L.) is one of the most important vegetable crop species in Japan as well as in other Asian, Middle and Near Eastarn, Mediterranean and African countries. Eggplant belongs to the Solanaceae family including tomato, potato and pepper, but unlike these allies, it is endemic to the Old World. To get this unique solanaceous member up on the stage of genomics and let it act as a crucial cast in molecular genetic and physiological studies, eggplant whole-genome sequencing has been done to construct a draft genome dataset.</p>
			</div>
		</div>
	</div>
</div>

<div class="about">
	<div class="container">
		<div class="about-main">
			<div class="about-left">
				<h3>Our Team</h3>
				<p>团队信息</p>
		    	<p>团队信息</p>
			</div>
		</div>
	</div>
</div>

<div class="about">
	<div class="container">
		<div class="about-left" >
			<h3>Contacts</h3>
			 <h4>Email:</h4>
				<p>123456123@@xxx.edu.cn</p>
				<h4>Tel:</h4>
				<p>123456123</p>
				<h4>Address:</h4>
				<p>xx省xx市xx区xx路xx号xx室</p>
		</div>
	</div>
</div>

	@home.footer()

}@import views.html.home.main
